@mixin ribbon($ribbon-text, $ribbon-width: 200px) {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    right: -($ribbon-width / 2);
    width: $ribbon-width;
    padding: map-get($spacers, 1) 0;
    transform: rotate(45deg) translate3d(0, ($ribbon-width / 4), 0);
    transform-origin: center top;
    background-color: theme-color('danger');
    color: color('white');
    text-align:  center;
    text-transform: uppercase;
    content: $ribbon-text;
  }
}
