<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ agency.name }}</title>
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>

<body class="page-{{ page_title | lower | replace(' ', '-') }}">
  {% include "_header.html" %}
  {% block content %}{% endblock %}
  {% include "_footer.html" %}

  {% block scripts %}{% endblock %}
  <script src="assets/js/main.min.js"></script>
</body>
</html>
