{% extends "_layout.html" %}

{% set page_title = "Quotation" %}

{% block content %}
<main class="text-center">
  <img class="img-fluid mb-2" src="{{ site.baseurl }}/assets/img/agency/villa.jpg" alt="Villa">

  <div class="container">
    <p>Vous souhaitez connaître la valeur de votre propriété pour un projet de vente immédiat ou futur ?</p>

    <hr class="w-25">

    <p>L'équipe H2O effectuera pour vous une estimation précise de votre bien selon différents modes de calculs.</p>
    <p>
      Pour ce faire, le conseiller le plus proche de chez vous se rendra à votre domicile afin de collecter
      toutes les informations nécessaires pour l'étude estimative de votre villa.
    </p>
    <p>
      L'étude se fera par la suite au bureau, à l'aide de différents outils et de notre base de données des villas
      avec piscine vendues précédemment autour de chez vous.
    </p>
    <p>
      La dernière étape consistera à vous communiquer le prix envisagé pour la vente de votre propriété
      en vous expliquant nos méthodes de calculs.
    </p>

    <hr class="w-25">

    <p>
      Contactez-nous au {{ agency.phone }} ou utilisez notre <a href="{{ site.baseurl }}/contact.html">formulaire de contact</a> pour obtenir
      un rendez-vous avec le conseiller le plus proche de chez vous.
    </p>
  </div>

  <img class="img-fluid" src="{{ site.baseurl }}/assets/img/quotation/contract.jpg" alt="Contract">
</main>
{% endblock %}
