{% extends "_layout.html" %}

{% set page_title = "Villas" %}

{% block content %}
<main>
  <img class="img-fluid mb-2" src="/assets/img/agency/villa.jpg" alt="Villa">

  <div class="container">
    <form class="mb-3" method="post">
      <div class="form-row justify-content-center align-items-center">
        <div class="col-12 col-md-auto">
          <label class="col-form-label mb-md-2">Vous souhaitez acheter</label>
        </div>
        <div class="col-12 col-md-auto">
          <select class="form-control custom-select mb-md-2" name="type" required>
            <option value="">&nbsp;</option>
            <option value="swimming-pool">Une villa avec piscine</option>
            <option value="villa">Une villa</option>
            <option value="field">Un terrain</option>
          </select>
        </div>

        <div class="col-12 col-md-auto">
          <label class="col-form-label mb-md-2">à</label>
        </div>
        <div class="col-12 col-md-auto">
          <input type="text" class="form-control js-autocomplete mb-md-2" name="location"
            placeholder="Sollies-Toucas" required
          >
        </div>

        <div class="col-12 col-md-auto">
          <label class="col-form-label mb-md-2">de</label>
        </div>
        <div class="col-12 col-md-auto">
          <input type="text" class="form-control mb-md-2" name="size" placeholder="100 m²" required>
        </div>
        <div class="col-12 col-md-auto">
          <label class="col-form-label mb-md-2">minimum</label>
        </div>

        <div class="col-12 col-md-auto">
          <label class="col-form-label mb-md-2">pour un budget maximum de</label>
        </div>
        <div class="col-12 col-md-auto">
          <input type="text" class="form-control mb-2" name="budget" placeholder="1 000 000 €"
            required
          >
        </div>

        <div class="col-12 col-md-auto">
          <button type="submit" class="btn btn-primary mb-md-2" title="Rechercher">
            <i class="fa fa-search"></i> Rechercher
          </button>
        </div>
      </div>
    </form>

    <h4 class="mb-3">Les nouvelles annonces</h4>
    <hr>

    <div class="row">
      {% for villa in villas %}
        <div class="col-md-6">
          <div class="villa {{ 'villa--new' if villa.isNew }}">
            <h5 class="villa__title">{{ villa.title }}</h5>
            <p class="villa__description">
              Villa de {{ villa.size }} m² située à {{ villa.location }} - {{ villa.price }} €
            </p>
            <div class="villa__pictures">
              {% for picture in villa.pictures %}
                <div>
                  <a class="villa__link" href="/villa.html" {{ 'data-ribbon-text=Exclusivité' if villa.isNew }}>
                    <img class="villa__picture" src="{{ picture }}" alt="Photo">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ googleMapsApiKey }}&libraries=places&callback=initAutocomplete"></script>
{% endblock %}
