html {
  scroll-behavior: smooth;
}

::selection {
  background-color: theme-color('primary');
  color: color-yiq(theme-color('primary'));

  .bg-primary & {
    background-color: theme-color('dark');
  }
}

blockquote {
  quotes: '\201C' '\201D';

  &::before {
    margin-right: map-get($spacers, 1);
    content: open-quote;
  }

  &::after {
    margin-left: map-get($spacers, 1);
    content: close-quote;
  }
}

