.text-separate {
  display: flex;
  align-items: center;

  &::before,
  &::after {
    flex: 1;
    height: 0;
    margin-right: map-get($spacers, 3);
    border-bottom: 1px solid currentColor;
    content: '';
  }

  &::after {
    margin-right: auto;
    margin-left: map-get($spacers, 3);
  }
}
