.page-home {
  $opacity: .3;

  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    .navbar-dark.bg-dark {
      // Surcharger le !important de .bg-dark
      background-color: rgba(theme-color('dark'), $opacity) !important; // sass-lint:disable-line no-important
    }

    .navbar-brand {
      // Ne pas afficher le logo sur la page d'accueil
      // Surcharger le !important de .d-md-inline-block
      display: none !important; // sass-lint:disable-line no-important
    }
  }

  .hero {
    position: relative;
    min-height: 100vh;
    margin-bottom: map-get($spacers, 3);
    background: url('../img/home/background.jpg') no-repeat right top / cover;
    color: color('white');

    &__footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      margin-bottom: 0;
      padding: map-get($spacers, 3);
      background-color: rgba(theme-color('dark'), $opacity);
      text-align: center;

      @include media-breakpoint-up(md) {
        top: 50%;
        bottom: auto;
        width: 100vh;
        padding-right: map-get($spacers, 5);
        padding-left: map-get($spacers, 5);
        transform: translateX(-50%) rotate(-90deg);
        transform-origin: center top;
      }
    }
  }
}
