.page-villas {
  .villa {
    margin-bottom: map-get($spacers, 4);

    &__title,
    &__description {
      margin-bottom: 0;
    }

    &__pictures {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-gap: map-get($spacers, 1);

      > :first-child {
        grid-column: span 2;
      }
    }

    &__picture {
      @include img-fluid();
    }

    &--new .villa__link:first-of-type {
      @include ribbon(attr(data-ribbon-text));
    }
  }
}
