// sass-lint:disable no-vendor-prefixes, no-duplicate-properties

.villa {
  $self: &;

  margin-bottom: map-get($spacers, 4);

  &__title,
  &__description {
    @include text-truncate();
    margin-bottom: 0;
  }

  &__pictures {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 10px auto;
    grid-template-rows: repeat(2, auto);
    grid-gap: map-get($spacers, 1);

    > :first-child {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 1;
      grid-column: span 2;
    }

    > :nth-child(2) {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }

    > :nth-child(3) {
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }
  }

  &__picture {
    @include img-fluid();

  }

  #{$self}--new #{$self}__pictures > :first-child &__link {
    @include ribbon(attr(data-ribbon-text));
  }
}

